@use "./base.scss";

// put your custom CSS here!

* {
    color: red;
}

:root[saved-theme="light"] {
  font-family: "Times New Roman", serif !important;
}

body :root[saved-theme="light"] {
  font-family: "Times New Roman", serif !important;
}

:root[saved-theme="dark"] {
  font-family: var(--bodyFont) !important;
}

body :root[saved-theme="light"] {
  font-family: sans-serif !important;
}