@use "./base.scss";
// Import Fira Code

// put your custom CSS here!
.data-rehype-pretty-code-figure {
    background: #e0af6815 !important;
}

h1[id]>a[href^=\#],
h2[id]>a[href^=\#],
h3[id]>a[href^=\#],
h4[id]>a[href^=\#],
h5[id]>a[href^=\#],
h6[id]>a[href^=\#] {
    opacity: 1;
}

p, a, table, li, strong :not(.MathJax) {
    font-family: 'Fira Code' !important;
}

p, h1, h2, h3, h4, h5, h6, li, strong, table {
    margin-bottom: 0.3em !important;
}

.MathJax[display="true"] > svg {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

h1, h2, h3, h4, h5, h6, li :has(>strong) {
    margin-top: 1em !important;
}


table:has(tbody>tr>td>.katex),
table:has(thead>tr>td>.katex) {
    width:90% !important;
}